<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />

    <add name="Timetracker" connectionString="SERVER=;Database=;uid=;Pwd=;Convert Zero Datetime=true;" />
    <add name="pms" connectionString="SERVER=;Database=;uid=;Pwd=;Convert Zero Datetime=true;" /> />
  </connectionStrings>
</configuration>